<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="js/app.js"></script>
</head>
<body>
    <div id="app">

        <h1>{{nombre}}</h1>
        <h1>cantidad de clicks: {{clicks}}</h1>
        <h1>potencia: {{potenciar}}</h1>

        <button @click="sumar()">+</button>
        <button @click="restar()">-</button>
        <button @click="reiniciar()">reiniciar</button>

        <h1>Framework: {{ message }}</h1>
        <h2>{{ mensaje1.split('').reverse().join('') }}</h2>
        <h3>{{ mensaje2 }}</h3>
        <p>{{valorInput}}</p>
        <p>{{imprimirenconsola()}}</p>
        <p>{{duplicar}}</p>
        <input type="text" v-model="valorInput"><br>
        <input type="text" v-model="mensaje"><br>
        <img v-bind:src="valorfinal" v-bind:alt="imagen">
        <button @click="mostrarIamgen()">mostrar imagen</button>
        
        <div v-html="html"></div>
        <button @click="alert()">mostrar mensaje</button>
        <button @click="mostrarmensaje2(mensaje)">mostrar mensaje 2</button>
        

        

      </div>

    
</body>
</html>
